<section class="calculation-form">
    <div class="container">
        <div class="template-title half-section">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <form class="form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <label for="category">Категория товара:</label>
                        <input type="text" placeholder="Категория товара" id="category">
                    </div>
                    <div class="input-box">
                        <label for="weight">Вес груза (кг):</label>
                        <input type="number" placeholder="Введите вес" id="weight">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="cost">Стоимость груза:</label>
                        <input type="number" placeholder="Введите стоимость" id="cost">
                    </div>
                    <div class="input-box">
                        <label for="volume">Объем груза (м3):</label>
                        <input type="number" placeholder="Введите объем" id="volume">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="control-row checkbox">
                        <input type="checkbox" name="checkbox-example" id="1">
                        <label for="1">Страховка</label>
                        <input type="checkbox" name="checkbox-example" id="2">
                        <label for="2">Таможенное оформление</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="code">Код ТН ВЭД:</label>
                        <input type="text" placeholder="Введите код" id="code">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="file-name"></div>
                    <input type="file" id="product-foto" class="download-file">
                    <label for="product-foto">Загрузить фото товара</label>
                </div>
            </div>
            <button type="button" class="btn">
                Следующий шаг
                <img src="assets/img/icon-arrow-left-btn.svg" alt="icon" class="icon">
            </button>
        </form>
        <div class="calcuation-decor">
            <img src="assets/img/calculation-decor.png" alt="Man decor">
        </div>
    </div>
</section>

<section class="acsent advantages">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="swiper" id="advantages">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage1.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Таможенное оформление груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage2.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Страховка груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage3.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Проверка товара на брак</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage4.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Доставка в любой город Украины</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage5.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Консолидация на складе</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage6.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Ответственное хранение груза</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage7.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Помощь в оплате товара</h5>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/advantage8.svg" alt="">
                        </div>
                        <h5 class="advantage-title">Упаковка, переупаковка, паллетирование груза к международной
                        перевозке</h5>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>