<footer class="footer">
    <div class="container">
        <div class="address-column">
            <a href="#" class="footer-logo">
				<img src="assets/img/logo.svg" alt="Master Tao Cargo">
			</a>
            <address>
                <a href="tel:+88006001869">8(800)600-18-69</a>
                <a href="mailto:info@cargoasia.info" class="mail-info">info@cargoasia.info</a>
                <a href="#">Адрес в Китае:<br>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</a>
            </address>
            <nav class="footer-social">
                <a href="#" class="social-icon">
					<img src="assets/img/instagram-icon.svg" alt="Instagram">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/vkontakte-icon.svg" alt="VK">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/telegram-icon.svg" alt="Telegram">
				</a>
            </nav>
        </div>
        <div class="menu-wrapper">
            <div class="footer-column">
                <h5 class="footer-title">Грузоперевозки</h5>
                <nav class="footer-menu">
                    <a href="#">Цены и сроки</a>
                    <a href="#">Услуги</a>
                    <a href="#">О компании</a>
                    <a href="#">Контакты</a>
                    <a href="#">Оформить груз</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Услуги</h5>
                <nav class="footer-menu">
                    <a href="#">Выкуп товара</a>
                    <a href="#">Страховка груза</a>
                    <a href="#">Аренда склада</a>
                    <a href="#">Перевод денежных средств</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Информация</h5>
                <nav class="footer-menu">
                    <a href="#">Отзывы</a>
                    <a href="#">Требования к грузу</a>
                    <a href="#">Договор-оферта</a>
                    <a href="#">Как заключить договор</a>
                    <a href="#">Способы оплаты услуг</a>
                    <a href="#">Документы</a>
                    <a href="#">Статьи</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>