<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-container">
            <div class="swiper default-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/delivery-1.png" alt="">
                            </div>
                            <h4 class="card-title">Авто - обычная</h4>
                            <div class="card-discription">
                                <ul class="option-list">
                                    <li class="option">
                                        <img src="assets/img/calendar-icon.svg" alt="calendar">
                                    9-15 дней
                                    </li>
                                    <li class="option">
                                        <img src="assets/img/box-icon.svg" alt="box">
                                    от 5 кг
                                    </li>
                                </ul>
                                <div class="price">
                                    <span>от</span>
                                    <b>2,5</b>
                                    <span>$/кг</span>
                                </div>
                            </div>
                            <div class="btn-row">
                                <button class="btn" type="button">Оставить заявку</button>
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/delivery-2.png" alt="">
                            </div>
                            <h4 class="card-title">Авто - ускоренная</h4>
                            <div class="card-discription">
                                <ul class="option-list">
                                    <li class="option">
                                        <img src="assets/img/calendar-icon.svg" alt="calendar">
                                    9-15 дней
                                    </li>
                                    <li class="option">
                                        <img src="assets/img/box-icon.svg" alt="box">
                                    от 5 кг
                                    </li>
                                </ul>
                                <div class="price">
                                    <span>от</span>
                                    <b>2,5</b>
                                    <span>$/кг</span>
                                </div>
                            </div>
                            <div class="btn-row">
                                <button class="btn" type="button">Оставить заявку</button>
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/delivery-3.png" alt="">
                            </div>
                            <h4 class="card-title">Авиа</h4>
                            <div class="card-discription">
                                <ul class="option-list">
                                    <li class="option">
                                        <img src="assets/img/calendar-icon.svg" alt="calendar">
                                    9-15 дней
                                    </li>
                                    <li class="option">
                                        <img src="assets/img/box-icon.svg" alt="box">
                                    от 5 кг
                                    </li>
                                </ul>
                                <div class="price">
                                    <span>от</span>
                                    <b>2,5</b>
                                    <span>$/кг</span>
                                </div>
                            </div>
                            <div class="btn-row">
                                <button class="btn" type="button">Оставить заявку</button>
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/delivery-4.png" alt="">
                            </div>
                            <h4 class="card-title">Ж/д</h4>
                            <div class="card-discription">
                                <ul class="option-list">
                                    <li class="option">
                                        <img src="assets/img/calendar-icon.svg" alt="calendar">
                                    9-15 дней
                                    </li>
                                    <li class="option">
                                        <img src="assets/img/box-icon.svg" alt="box">
                                    от 5 кг
                                    </li>
                                </ul>
                                <div class="price">
                                    <span>от</span>
                                    <b>2,5</b>
                                    <span>$/кг</span>
                                </div>
                            </div>
                            <div class="btn-row">
                                <button class="btn" type="button">Оставить заявку</button>
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="img-box">
                                <img class="img-fluid" src="assets/img/delivery-5.png" alt="">
                            </div>
                            <h4 class="card-title">Море</h4>
                            <div class="card-discription">
                                <ul class="option-list">
                                    <li class="option">
                                        <img src="assets/img/calendar-icon.svg" alt="calendar">
                                    9-15 дней
                                    </li>
                                    <li class="option">
                                        <img src="assets/img/box-icon.svg" alt="box">
                                    от 5 кг
                                    </li>
                                </ul>
                                <div class="price">
                                    <span>от</span>
                                    <b>2,5</b>
                                    <span>$/кг</span>
                                </div>
                            </div>
                            <div class="btn-row">
                                <button class="btn" type="button">Оставить заявку</button>
                                <button class="btn btn-outline" type="button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>